::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #03c4f4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0c5273;
}

body {
  background: radial-gradient(
      111.54% 47.36% at 97.79% 95.45%,
      rgba(0, 204, 255, 0.3) 0%,
      rgba(70, 199, 231, 0.15) 100%
    ),
    radial-gradient(
      121.95% 58.97% at 0% 0%,
      rgba(70, 199, 231, 0.35) 0%,
      rgba(0, 207, 255, 0) 100%
    ),
    #fff;
  background-repeat: no-repeat;
  font-family: Montserrat;
}

.landing_img {
  width: 100%;
}

.landing {
  margin: 50px;
  position: relative;
}

.micon {
  position: absolute;
  top: 0;
  left: 1%;
  height: auto;
  width: 10%;
}

.responsive {
  width: 100%;
  height: auto;
}

.navbar {
  background-color: #197c9387;
  border-radius: 50px;
  width: 362px;
  height: 58px;
  position: absolute;
  top: 2.5%;
  left: 15%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-left: 25px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

li a:hover {
  font-weight: 800;
}

.title {
  position: absolute;
  top: 69%;
  left: 1%;
  height: auto;
  width: 50%;
}

.title h1 {
  color: #000;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-weight: 700;
  margin: 0;
  display: inline-block;
  font-size: 6.5vw;
}

.title .iceberg {
  display: block;
  color: #46c7e7;
  text-shadow: 1px 1px 4px #000000;
  font-family: Montserrat;
  font-weight: 800;
  letter-spacing: -1.92px;
}

.title img {
  width: 12%;
  height: 60px;
  width: 60px;
  padding-left: 10px;
}

.about {
  margin: 0 50px;
}

.about .img1 {
  float: left;
  margin-right: 30px;
}

p {
  margin-top: 5px;
  color: #000;
  text-align: center;
  font-size: 22.422px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 191.9%;
  letter-spacing: 0.897px;
}

.about .img2 {
  float: right;
  margin-left: 30px;
}

.top {
  margin: 50px;
}

.top_p {
  color: #000;
  font-size: 64.9px;
  font-family: Montserrat;
  font-weight: 800;
  line-height: 154.5%;
  letter-spacing: 1.947px;
  text-transform: uppercase;
  margin-bottom: 0px;
  text-align: left;
  width: 792px;
  display: inline-block;
}

.top p span {
  font-size: 87.29px;
  color: #03c4f4;
}

.topimg {
  float: right;
  width: 450px;
  padding-top: 30px;
}

.top_s {
  color: #000;
  font-size: 20px;
  font-family: Montserrat;
  line-height: 157%;
  letter-spacing: 0.4px;
  text-align: left;
}

.dbutton {
  border-radius: 50px;
  border: none;
  background: #0c5273;
  width: 356px;
  height: 108px;
  cursor: pointer;
  display: inline-block;
  margin-top: 20px;
}

.dbutton p {
  color: #fff;
  font-size: 43.2px;
  font-family: Montserrat;
  font-weight: 700;
  text-align: left;
  display: inline;
}

.dbutton:hover {
  box-shadow: 1px 5px 21px 2px rgba(12, 82, 115, 0.5);
}

.dbutton .icon {
  position: relative;
  width: auto;
  height: 60px;
  float: right;
  right: 40px;
  top: 10px;
}

.display {
  text-align: center;
}

.display img {
  margin: 0 auto;
  display: block;
}

#image {
  width: 500px;
  overflow: hidden;
}

#reupload {
  border-radius: 30px;
  background: #03c4f4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 281px;
  height: 80px;
  position: relative;
  right: 80px;
  margin-top: 0px;
  bottom: 100px;
}

#reupload p {
  font-size: 32px;
}

#reupload img {
  position: relative;
  right: 15px;
  top: 2px;
  width: 50px;
}

.result {
  margin: 40px auto;
  width: 973px;
  height: 567px;
  border-radius: 20px;
  background: rgba(3, 196, 244, 0.42);
}

.result img {
  float: left;
  margin-right: 30px;
  width: 484px;
  height: 567px;
  border-radius: 20px;
}

.result p {
  color: #000;
  letter-spacing: 0.897px;
  text-align: center;
  font-size: 45.659px;
  font-family: Montserrat;
  line-height: 160.9%;
  margin-right: 40px;
  position: relative;
  top: 100px;
}

.bold {
  font-weight: 750;
}

.upload-label {
  display: inline-block;
  padding: 12px 60px 27px 60px;
  background: #0c5273;
  color: #fff;
  font-size: 30.944px;
  transition: all 0.4s;
  cursor: pointer;
  border-radius: 50px;
  font-family: Montserrat;
  font-weight: 700;
  border: none;
}

input[type="file"] {
  display: none;
}
.upload-label img {
  position: relative;
  width: 43px;
  top: 10px;
  left: 20px;
}

.upload-label:hover {
  box-shadow: 1px 5px 21px 2px rgba(9, 59, 82, 0.5);
}

.upload-label p {
  color: #fff;
  font-size: 30.944px;
  font-family: Montserrat;
  font-weight: 700;
  text-align: left;
  display: inline;
}

#display{
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 50px;
    height: 90px;
}